# Set TIDYWIGITS_IMAGE_TAG and RUN_ID based on tidywigits-schema-translator output path
RUN_ID=2025091002d1f664
TIDYWIGITS_IMAGE_TAG=0.0.7.9005

# Landing Zone bucket structure - See https://github.com/umccr/infrastructure-unimelb/issues/4
# No trailing slash
LZ_BUCKET="s3://my-data-landing-zone-111111111111-us-southeast-10-an"

# Athena database name
LZ_DBNAME="tidywigits"
# Athena workgroup name
ATHENA_WORKGROUP="primary"

# Allow modes are - create, drop
MODE=create

# Set it to "false" to execute query
DRY_RUN=true

# AWS region name
REGION_NAME=ap-southeast-2
