# Set TIDYWIGITS_IMAGE_TAG and RUN_ID based on tidywigits-operator output path
RUN_ID=2025091002d1f664
TIDYWIGITS_IMAGE_TAG=0.0.7.9005

# Landing Zone bucket structure - See https://github.com/umccr/infrastructure-unimelb/issues/4
# no trailing slash
LZ_BUCKET="s3://derived-secondary-data-123456789123-ap-southeast-2-an"
# no trailing slash
LZ_KEY_PREFIX="tidywigits/v1"
# Athean database name
LZ_DBNAME="tidywigits"
