# A bucket where you would like to store parquet files
DATALAKE_BUCKET=datalake-prod-landing-zone-X1111111111Y-us-southeast-9-an

# no trailing slash
DATALAKE_PREFIX=tidywigits/v1

# no trailing slash
TIDYWIGITS_OUTPUT_DIR=../tidywigits-operator/data/output/tidywigits/0.0.7.9005
