# oncoanalyser-wgts-dna
RUN_ID=2025091002d1f664
ONCOANALYSER_WGTS_DNA_SRC="s3://project-data-bucket/byob-name/project-name/analysis/oncoanalyser-wgts-dna/${RUN_ID}/"
ONCOANALYSER_WGTS_DNA_DST="data/input/${RUN_ID}/"

# tidywigits
TIDYWIGITS_IMAGE_URL=ghcr.io/tidywf/tidywigits
TIDYWIGITS_IMAGE_TAG=0.0.7.9005
